.bg-navy {
  background-color: #001f3f;
}
.bg-blue {
  background-color: #0074d9;
}
.bg-aqua {
  background-color: #7fdbff;
}
.bg-teal {
  background-color: #39cccc;
}
.bg-olive {
  background-color: #3d9970;
}
.bg-green {
  background-color: #2ecc40;
}
.bg-lime {
  background-color: #01ff70;
}
.bg-yellow {
  background-color: #ffdc00;
}
.bg-orange {
  background-color: #ff851b;
}
.bg-red {
  background-color: #ff4136;
}
.bg-fuchsia {
  background-color: #f012be;
}
.bg-purple {
  background-color: #b10dc9;
}
.bg-maroon {
  background-color: #85144b;
}
.bg-white {
  background-color: #fff;
}
.bg-gray {
  background-color: #aaa;
}
.bg-silver {
  background-color: #ddd;
}
.bg-black {
  background-color: #111;
}
.navy {
  color: #001f3f;
}
.blue {
  color: #0074d9;
}
.aqua {
  color: #7fdbff;
}
.teal {
  color: #39cccc;
}
.olive {
  color: #3d9970;
}
.green {
  color: #2ecc40;
}
.lime {
  color: #01ff70;
}
.yellow {
  color: #ffdc00;
}
.orange {
  color: #ff851b;
}
.red {
  color: #ff4136;
}
.fuchsia {
  color: #f012be;
}
.purple {
  color: #b10dc9;
}
.maroon {
  color: #85144b;
}
.white {
  color: #fff;
}
.silver {
  color: #ddd;
}
.gray {
  color: #aaa;
}
.black {
  color: #111;
}
a {
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
a:link {
  color: #6dbbff;
}
a:visited {
  color: #6dbbff;
}
a:hover {
  color: #0074d9;
}
a:active {
  color: #ff851b;
}
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?48469949');
  src: url('../font/fontello.eot?48469949#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?48469949') format('woff'),
       url('../font/fontello.ttf?48469949') format('truetype'),
       url('../font/fontello.svg?48469949#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?48469949#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-github:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-headphones:before { content: '\e800'; } /* '' */
.icon-fivehundredpx:before { content: '\e803'; } /* '' */
.icon-flickr:before { content: '\e804'; } /* '' */
.icon-rss:before { content: '\e807'; } /* '' */
.icon-stackoverflow:before { content: '\e806'; } /* '' */
pre,
code {
  font-family: "Source Code Pro", Monaco, Menlo, Consolas, monospace;
  color: #4d4d4c;
  background: #eee;
  font-size: 13px;
}
code {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ddd;
  padding: 0 5px;
}
pre {
  padding: 10px 15px;
  line-height: 22px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
pre code {
  border: none;
  display: block;
  padding: 0;
}
.highlight {
  background: #eee;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 15px;
  color: #4d4d4c;
  overflow: auto;
  margin: 0;
}
.highlight figcaption {
  zoom: 1;
  margin: -5px 0 5px;
  font-size: 0.9em;
  color: #999;
}
.highlight figcaption:before,
.highlight figcaption:after {
  content: "";
  display: table;
}
.highlight figcaption:after {
  clear: both;
}
.highlight figcaption a {
  float: right;
}
.highlight pre {
  padding: 0;
  border: none;
  background: none;
}
pre .comment,
pre .title {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f5871f;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #718c00;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #718c00;
}
pre .css .hexcolor {
  color: #3e999f;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}
pre .keyword,
pre .javascript .function {
  color: #8959a8;
}
html {
  font-size: 14px;
}
@media (min-width: 40em) {
  html {
    font-size: 18px;
  }
}
body {
  font: 1rem/1.5 "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  margin: 0;
  color: #5a5a5a;
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.5em;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
blockquote {
  padding-left: 1em;
  margin-left: 1em;
  border-left: 2px solid #ddd;
  color: #8b8b8b;
  font-size: 0.9em;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.header a,
.footer a {
  color: #111;
}
.header a:hover,
.footer a:hover {
  color: #0074d9;
}
.container {
  width: 650px;
  margin: 0 auto;
}
.header {
  position: relative;
  border-bottom: 1px solid #aaa;
  margin-top: 28px;
}
.header .icon {
  position: absolute;
  left: 25px;
  bottom: 0;
  width: 30px;
  line-height: 30px;
  border: 1px solid #ccc;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  z-index: -1;
}
.header .icon-rss {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -15px;
  font-size: 1.5em;
}
.circle {
  position: relative;
  z-index: 10;
  display: inline-block;
  line-height: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: linear 0.25s;
  -moz-transition: linear 0.25s;
  -o-transition: linear 0.25s;
  -ms-transition: linear 0.25s;
  transition: linear 0.25s;
  vertical-align: bottom;
}
a.circle {
  color: transparent;
}
/* IE fix: removes blue border */
.avatar {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.main {
  min-height: 600px;
  margin: 56px 0;
}
.section-list {
  font-size: 16px;
}
.section-list h1 {
  margin-top: 1.2em;
}
.section-list ul {
  padding-left: 0;
}
.section-list li {
  list-style: none;
  margin-bottom: 1em;
}
.posts time {
  float: right;
}
.icon:hover:before {
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  -ms-transition: 500ms;
  transition: 500ms;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.footer {
  padding-top: 10px;
  margin-bottom: 28px;
  border-top: 1px solid #aaa;
  text-align: center;
}
