/* ==========================================================================
   SKINS

   - Backgrounds
   - Colors

   ========================================================================== */
/* Backgrounds */
.bg-navy {
  background-color: #000080;
}
.bg-blue {
  background-color: #00f;
}
.bg-aqua {
  background-color: #0ff;
}
.bg-teal {
  background-color: #008080;
}
.bg-olive {
  background-color: #808000;
}
.bg-green {
  background-color: #008000;
}
.bg-lime {
  background-color: #0f0;
}
.bg-yellow {
  background-color: #ff0;
}
.bg-orange {
  background-color: #ffa500;
}
.bg-red {
  background-color: #f00;
}
.bg-fuchsia {
  background-color: #f0f;
}
.bg-purple {
  background-color: #800080;
}
.bg-maroon {
  background-color: #800000;
}
.bg-white {
  background-color: #fff;
}
.bg-gray {
  background-color: #808080;
}
.bg-silver {
  background-color: #c0c0c0;
}
.bg-black {
  background-color: #000;
}
/* Colors */
.navy {
  color: #000080;
}
.blue {
  color: #00f;
}
.aqua {
  color: #0ff;
}
.teal {
  color: #008080;
}
.olive {
  color: #808000;
}
.green {
  color: #008000;
}
.lime {
  color: #0f0;
}
.yellow {
  color: #ff0;
}
.orange {
  color: #ffa500;
}
.red {
  color: #f00;
}
.fuchsia {
  color: #f0f;
}
.purple {
  color: #800080;
}
.maroon {
  color: #800000;
}
.white {
  color: #fff;
}
.silver {
  color: #c0c0c0;
}
.gray {
  color: #808080;
}
.black {
  color: #000;
}
