<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
  </head>
  <body>
    {{ content | safe }}
    <footer>
       © 2023 |
      <a href="/feed.xml">RSS feed</a> |
      <a href="mailto:hulufei@outlook.com">hulufei@outlook.com</a>
    </footer>
  </body>
</html>
